<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name"><a href="https://www.worldbank.org/en/country/ukraine">World Bank Country Profile for Ukraine</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
      </div>

      <div class="footer-col footer-col-3">
        <ul class="contact-list">
          <li>Last updated 20 March 2022.</li>
          <li>Email <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a> to suggest additional materials.</li>
        </ul>
      </div>
    </div>

  </div>

</footer>
