<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <!-- <li class="p-name"><a href="https://www.worldbank.org/en/country/ukraine">World Bank Country Profile for Ukraine</a></li> -->
          <li class="p-name" markdown="1">{{ site.description }}</li>
        </ul>
      </div>

      <!-- <div class="footer-col footer-col-2">
      </div> -->

      <div class="footer-col footer-col-3">
        <ul class="contact-list">
          <li>Last updated 22 March 2022.</li>
          <li>For inquiries or to suggest additional materials, contact <a class="u-email" href="mailto:ljones12@worldbank.org">Lindsey&nbsp;Jones</a> and <a class="u-email" href="mailto:{{ site.email }}">Ben&nbsp;Notkin</a>.</li>
        </ul>
      </div>
    </div>

  </div>

</footer>
